.app{
  /* margin-right: auto;
  text-align: center; */
  
}

.test{
  font-weight: bold;
  
  display: inline;
  margin:40px;  
   
  
}
.risk{
  margin:auto;
  display: table;
}
select{
  font-weight: bold;
  color: pink;
  background: cornflowerblue ;
}

#testlike{
  display:inline
  
}
.input{
  background: pink;
  /* height: 140px; */
  /* width: 280px; */
  
  
}
.push{
  display: inline;
}
.save{
  margin:auto;
  display: table;
  border-radius: 5px;
  background: rosybrown;
  color: brown;
  border: 2px solid black;
  height: 50px;
  width: 250px;
  font-weight: bold;

}::placeholder{
  text-align: center;
  color: cornflowerblue;
  font-weight: bold;
}
